
<div class="data-user">
  <div class="cell-user-info half">
    <div class="up-cell-info">

    	<div class="pic">
    	  <img src="/images/lk/user.png">
    	</div>

    	<div class="user-title-cell">Личные данные</div>
    	<div class="user-info">Кириленко Иван</div>
    	<div class="user-info-edit edit-info-account">Редактировать</div>
    	<div class="user-info-mail"> ivankirill@yahoo.com</div>

    </div>
  </div>

  <div class="cell-user-addres half">
    <div class="up-cell-info">

    	<div class="pic">
    	  <img src="/images/lk/location.png">
    	</div>

    	<div class="user-title-cell">Адрес доставки</div>
    	<div class="user-info">
    	  625016, г.Тюмень, ул. А.Логунова, д. 69, кв. 69.
    	</div>
    	<div class="user-info-edit edit-address">Редактировать</div>

    </div>
  </div>


 <!-- ITEMS DESCTOP -->
<div class="cell-log desctop-visible">

  <div class="zakazi-info active works">
  	<div> Заказы в работе</div>
  </div>

  <div class="zakazi-info buys">
  	<div> Выполненые заказы</div>
  </div>

  <div class="window-tablet active work">

  	<div class="items_values">
  	  <div class="cel-tablet">№ Заказа </div>
  	  <div class="cel-tablet">Дата заказа</div>
  	  <div class="cel-tablet">Сумма</div>
  	  <div class="cel-tablet">Способ оплаты</div>
  	  <div class="cel-tablet">Статус оплаты</div>
  	  <div class="cel-tablet">Статус заказа</div>
  	</div>

  	<div class="items_values">
  	  <div class="cel-tablets">211</div>
  	  <div class="cel-tablets">15.11.2017</div>
  	  <div class="cel-tablets">30 000 руб.</div>
  	  <div class="cel-tablets">Кредит</div>
  	  <div class="cel-tablets">Не оплачено<a href="#">Оплатить</a></div>
  	  <div class="cel-tablets">Ожидает<a href="#">Подробнее</a></div>
    </div>

    <div class="items_values">
      <div class="cel-tablets">211</div>
      <div class="cel-tablets">15.11.2017</div>
      <div class="cel-tablets">30 000 руб.</div>
      <div class="cel-tablets">Кредит</div>
      <div class="cel-tablets">Не оплачено<a href="#">Оплатить</a></div>
      <div class="cel-tablets">Ожидает<a href="#">Подробнее</a></div>
    </div>

  </div>

  <div class="window-tablet success-buys">

    <div class="items_values">
      <div class="cel-tablet">№ Заказа </div>
      <div class="cel-tablet">Дата заказа</div>
      <div class="cel-tablet">Сумма</div>
      <div class="cel-tablet">Способ оплаты</div>
      <div class="cel-tablet">Статус оплаты</div>
      <div class="cel-tablet">Статус заказа</div>
    </div>

    <div class="items_values">
      <div class="cel-tablets">21</div>
      <div class="cel-tablets">15.11.2017</div>
      <div class="cel-tablets">30 000 руб.</div>
      <div class="cel-tablets">Кредит</div>
      <div class="cel-tablets">Не оплачено<a href="#">Оплатить</a></div>
      <div class="cel-tablets">Ожидает<a href="#">Подробнее</a></div>
    </div>

    <div class="items_values">
      <div class="cel-tablets">211</div>
      <div class="cel-tablets">15.11.2017</div>
      <div class="cel-tablets">30 000 руб.</div>
      <div class="cel-tablets">Кредит</div>
      <div class="cel-tablets">Не оплачено<a href="#">Оплатить</a></div>
      <div class="cel-tablets">Ожидает<a href="#">Подробнее</a></div>
    </div>

  </div>

</div>
 <!-- /ITEMS DESCTOP -->


 <!-- ITEMS MOBILE -->
  <div class="cell-log mobile-visible">

    <div class="zakazi-info">
      <div>
    	  <i class="fa fa-bars" aria-hidden="true"></i>
    	</div>
    </div>

    <div class="zakazi-info active">
    	<div>
    	  Заказы в работе
    	</div>
    </div>

    <div class="window-tablet active">

    	<div class="items_values">
    	  <div class="cel-tablet">№ Заказа</div>
    	  <div class="cel-tablet text-center">241</div>
    	  <div class="cel-tablet">Дата заказа</div>
    	  <div class="cel-tablet text-center">15.11.2017</div>
    	  <div class="cel-tablet">Сумма</div>30 000 руб.</div>
    	  <div class="cel-tablet">Способ оплаты</div>
    	  <div class="cel-tablet text-center">Наличные</div>
    	  <div class="cel-tablet">Статус оплаты</div>
    	  <div class="cel-tablet text-center">Не олачено<a href="#">Оплатить</a></div>
    	  <div class="cel-tablet">Статус заказа</div>
    	  <div class="cel-tablet text-center">В обработке<a href="#">Подробнее</a></div>
    	</div>

    	<div class="items_values">
    	  <div class="cel-tablet">№ Заказа</div>
    	  <div class="cel-tablet text-center">241</div>
    	  <div class="cel-tablet">Дата заказа</div>
    	  <div class="cel-tablet text-center">15.11.2017</div>
    	  <div class="cel-tablet">Сумма</div>
    	  <div class="cel-tablet text-center">30 000 руб.</div>
    	  <div class="cel-tablet">Способ оплаты</div>
    	  <div class="cel-tablet text-center">Наличные</div>
    	  <div class="cel-tablet">Статус оплаты</div>
    	  <div class="cel-tablet text-center">Не олачено<a href="#"> Оплатить</a></div>
    	  <div class="cel-tablet">Статус заказа</div>
    	  <div class="cel-tablet text-center">В обработке<a href="#">Подробнее</a></div>
    	</div>

    </div>
 <!-- /ITEMS MOBILE -->

  </div>
</div>




<div class="modal user-modal-edit-form info-account default" self="modal">
  <div class="modal-wrapper" self="modal">
    <div class="modal-contents bottom-0">

      <div class="close-modal">
        <img src="/images/header/close.png">
      </div>

      <div class="frost">
        <form class="container-form-user theme-2 user-form-edit form-1">
          <div class="form-title">Личные данные</div>

          <div class="form-content">
            <div class="left-cell-230 line-right">

              <div class="input fix-top">
                <div class="input-title"></div>
                Имя
                <span class="compulsory">
                  *
                </span>
                <input type="text">
              </div>

              <div class="input">
                <div class="input-title"></div>
                Дата рождения
                <input type="text">
              </div>

              <div class="input bottom-0 mb-0">
                <div class="input-title"></div>
                Эл.почта
                <span class="compulsory">
                  *
                </span>
                <input type="text">
              </div>

              <div class="button-container">
                <div class="button-2">
                  ПОДТВЕРДИТЬ
                </div>
              </div>
            </div>

            <div class="right-cell">

              <div class="input fix-top">
                <div class="input-title"></div>
                Фамилия
                <span class="compulsory">
                  *
                </span>
                <input type="text">
              </div>

              <div class="input">
                <div class="input-title">
                  Пол
                </div>

                <div class="male-female">
                  <div class="sex-cell">
                    <span class="radio"></span>
                    <span class="sex-val">
                      Мужской
                    </span>
                  </div>
                  <div class="sex-cell">
                    <span class="radio"></span>
                    <span class="sex-val">
                      Женский
                    </span>
                  </div>
                </div>

              </div>

              <div class="input mob-320-top">
                <div class="input-title"></div>
                Контактый телефон
                <span class="compulsory">
                  *
                </span>
                <input type="text" placeholder="+7(___)___-__-__">
              </div>

            </div>
          </div>
        </form>
      </div>

      <div class="frost">
        <form class="container-form-user theme-2 user-form-edit">
          <div class="form-title">
            Сменить пароль
          </div>
          <div class="form-content">
            <div class="left-cell-230 line-right">
              <div class="input fix-top">
                <div class="input-title"></div>
                Пароль
                <span class="compulsory">
                  *
                </span>
                <input type="text">
                
              </div>
              <div class="input">
                <div class="input-title"></div>
                Подтвердить пароль
                <span class="compulsory">
                  *
                </span>
                <input type="text">
              </div>
            </div>
            <div class="right-cell">
              <div class="input fix-top">
                <div class="input-title"></div>
                Пароль
                <span class="compulsory">
                  *
                </span>
                <input type="text">
              </div>
              <div class="button-container">
                <div class="button-2">
                  ИЗМЕНИТЬ
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal user-modal-edit-form info-address default" self="modal">
  <div class="modal-wrapper" self="modal">
    <div class="modal-contents">
      <div class="close-modal">
        <img src="/images/header/close.png">
      </div>
      <div class="frost">
        <form class="container-form-user-adress theme-2 dostavka form-1">
          <div class="form-title">
            Добавить адрес доставки
          </div>
          <div class="form-content">
            <div class="left-cell-230">
              <div class="input fix-top">
                <div class="input-title"></div>
                Город доставки
                <input type="text">
                
              </div>
            </div>
            <div class="right-cell">
              <div class="input fix-top">
                <div class="input-title"></div>
                Адрес доставки
                <input type="text">
              </div>
            </div>
            <div class="button-container">
              <div class="button-2">
                СОХРАНИТЬ
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal user-modal-edit-form default" self="modal">
  <div class="modal-wrapper" self="modal">
    <div class="modal-contents long-970">
      <div class="close-modal">
        <img src="/images/header/close.png">
      </div>
      <form class="container-form-user-product theme-2">
        <div class="form-content">
          <div class="left-cell line-right left-cell-295">
            <div class="picture-cell">
              <img src="/images/lk/product_modal.jpg">
            </div>
            <div class="info-items">
              <div class="items-name left-text">
                Шкаф угловой
              </div>
              <div class="items-name right-text t-a-left">
                <a href="#">
                  редактировать заказ
                </a>
              </div>
              <div class="items-information">
                <div class="item-colection left-text">
                  Коллекция "Солнечный город"
                  <div class="br"></div>
                  Артикул: 51712
                </div>
                <div class="item-col right-text">
                  1 шт.
                </div>
              </div>
              <div class="items-information bottom">
                Адрес доставки: г.Тюмень, ул. А.Логунова, д. 69, кв. 69.
              </div>
            </div>
          </div>
          <div class="right-cell">
            <div class="price">
              25878 руб.
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





