        <div class="left-content">
          <div class="wrapper-content">
            <div class="address">
              <div class="icon">
                <img src="images/header/placemark.png">
              </div>
              <div class="desc">
                Вы находитесь в
                <span class="value">
                </span>
                <span class="city">
                  Омске 
                </span>
                ?
              </div>
            </div>
          </div>

          <div class="wrapper-content">
            <div class="user">
              <div class="icon">
                <img src="images/header/reg.png">
              </div>
              <div class="desc">
                <span class="reg">
                  Регистрация
                </span>
              </div>
              <div class="desc">
                <span class="auth">
                  Вход
                </span>
              </div>
            </div>
          </div>

          <!-- USER KABINET -->
          <div class="wrapper-content" style="display: none">
            <div class="user">
              <div class="icon">
                <img src="images/header/user.png">
              </div>
              <div class="desc">
                <span class="lk">
                  Личный кабинет
                </span>
              </div>
            </div>
          </div>

        </div>