<div class="sec-mobile-left-nav" id="sec-mobile-left-nav">
  <div class="shadow-window"></div>
  <div class="mobile-left-nav" style="touch-action: none;">
    <div class="mobile-left-nav-wrapper" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
      <div class="pagination">
        <span>
          <i class="fa fa-angle-left" aria-hidden="true">
          </i>
          <a href="#">
            Назад
          </a>
        </span>
      </div>
      <div class="mobile-auth">
        <a href="#">
          <span id="auth">Войти</span>
        </a>
        <span class="vertical-linear"></span>
        <a href="#">
          <span id="reg">Регистрация</span>
        </a>
      </div>
      <div class="mobile-city">
        <div class="mobile-cyti-name">
          Город
        </div>
        <span class="vertical-linear"></span>
        <div class="mobile-city-value">
          Омск
        </div>
      </div>
      <nav>
        <ul>
          <div class="title-nav">
            Каталог
            <span class="triangle"></span>
          </div>
          <li>
            <a href="#">
              Акции
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li nav="#more-collection">
            <a href="#">
              Коллекции
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Мебель для мальчиков
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Мебель для девочек
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
        </ul>
        <ul>
          <div class="title-nav">
            Подбор мебели по цвету
            <span class="triangle"></span>
          </div>
          <li>
            <a href="#">
              Темная мебель
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Светлая мебель
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Цветная мебель
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
        </ul>
        <ul>
          <div class="title-nav">
            Мебель отдельными позициями
            <span class="triangle"></span>
          </div>
          <li>
            <a href="#">
              Кровати
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Столы
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Шкафы
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Полки
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Диваны
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Тумбы
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Стулья
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="button-container">
        <div class="button-2">
          Корзина
        </div>
      </div>
      <a class="logo">
        <img>
        
      </a>
    </div>
  <div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="overflow: hidden; pointer-events: none;"><div class="iScrollIndicator" style="transition-duration: 0ms; display: none; height: 8px; transform: translate(0px, -8px) translateZ(0px); transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);"></div></div></div>
  <div class="mobile-left-nav levt-nav-2" id="more-collection">
    <div class="mobile-left-nav-wrapper">
      <div class="pagination">
        <span>
          <i class="fa fa-angle-left" aria-hidden="true">
          </i>
          <a href="#">
            Назад
          </a>
        </span>
      </div>
      <nav>
        <ul>
          <li>
            <a href="#">
              Некст
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Некст Классик
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              Кнопочка
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Мегаполис
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Солнечный город
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Соня
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Джерси
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Мия
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Белоснежка
              <i class="fa fa-angle-right" aria-hidden="true">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              Эридан
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>