		<div class="more-nav" id="more-advantages">
		  <div class="advanatages">
			<div class="close-more-nav">
			  <img src="images/header/close.png">
			  
			</div>
			<div class="advantage">
			  <div class="advantage-bg">
				<img src="images/header/a1.png">
			  </div>
			  <div class="advantage-title">
				Безопасность и экологичность
			  </div>
			</div>
			<div class="advantage">
			  <div class="advantage-bg">
				<img src="images/header/a2.png">
			  </div>
			  <div class="advantage-title">
				Только качественные материалы
			  </div>
			</div>
			<div class="advantage">
			  <div class="advantage-bg">
				<img src="images/header/a3.png">
			  </div>
			  <div class="advantage-title">
				Сервисные услуги в подарок
			  </div>
			</div>
			<div class="advantage">
			  <div class="advantage-bg">
				<img src="images/header/a4.png">
			  </div>
			  <div class="advantage-title">
				Эргономика во всём
			  </div>
			</div>
			<div class="advantage">
			  <div class="advantage-bg">
				<img src="images/header/a5.png">
			  </div>
			  <div class="advantage-title">
				Широкий выбор цветов
			  </div>
			</div>
			<div class="advantage">
			  <div class="advantage-bg">
				<img src="images/header/a6.png">
			  </div>
			  <div class="advantage-title">
				3D-проект бесплатно
			  </div>
			</div>
			<div class="advantage">
			  <div class="advantage-bg">
				<img src="images/header/a7.png">
			  </div>
			  <div class="advantage-title">
				Изысканный дизайн
			  </div>
			</div>
			<div class="advantage">
			  <div class="advantage-bg">
				<img src="images/header/a8.png">
			  </div>
			  <div class="advantage-title">
				на 32% выше успеваемость
			  </div>
			</div>
		  </div>
		</div>
		<div class="more-nav" id="more-catalog">
		  <div class="catalogs">
			<div class="catalog m-none">
			  <div class="catalog-wrapper">
				<div class="close-more-nav">
				  <img src="images/header/close.png">
				</div>
				<div class="catalog-title">
				  Коллекции:
				</div>
				<ul>
				  <li>
					<a href="#">
					  Некст
					</a>
				  </li>
				  <li>
					<a href="#">
					  Некст классик
					</a>
				  </li>
				  <li>
					<a href="#">
					  Некст классик
					</a>
				  </li>
				  <li>
					<a href="#">
					  Кнопочка
					</a>
				  </li>
				  <li>
					<a href="#">
					  Мегаполис
					</a>
				  </li>
				  <li>
					<a href="#">
					  Солнечный город
					  <span class="action">
						Хит продаж
					  </span>
					</a>
				  </li>
				  <li>
					<a href="#">
					  Соня
					</a>
				  </li>
				  <li>
					<a href="#">
					  Джэрси
					</a>
				  </li>
				  <li>
					<a href="#">
					  Мия
					</a>
				  </li>
				  <li>
					<a href="#">
					  Белоснежка
					</a>
				  </li>
				  <li>
					<a href="#">
					  Эридан
					</a>
				  </li>
				</ul>
			  </div>
			</div>
			<div class="catalog">
			  <div class="catalog-wrapper">
				<div class="catalog-title m-none">
				  Тип:
				</div>
				<ul>
				  <li>
					<img class="icon" src="images/catalog/t1.png">
					<a href="#">
					  Для девочек
					</a>
				  </li>
				  <li>
					<img class="icon" src="images/catalog/t2.png">
					<a href="#">
					  Для мальчиков
					</a>
				  </li>
				  <li>
					<img class="icon" src="images/catalog/t3.png">
					<a href="#">
					  Для многодетных
					</a>
				  </li>
				</ul>
			  </div>
			  <div class="catalog-wrapper">
				<div class="catalog-title">
				  <img class="icon" src="images/catalog/t4.png">
				  По цвету:
				</div>
				<ul>
				  <li>
					<a href="#">
					  Светлая мебель
					</a>
				  </li>
				  <li>
					<a href="#">
					  Цветная мебель
					</a>
				  </li>
				  <li>
					<a href="#">
					  Тёмная мебель
					</a>
				  </li>
				</ul>
			  </div>
			  <div class="catalog-wrapper">
				<div class="catalog-title">
				  <a href="#">
					Все товары
				  </a>
				</div>
			  </div>
			</div>
			<div class="catalog">
			  <div class="catalog-wrapper">
				<div class="catalog-title m-none">
				  Категории:
				</div>
				<ul>
				  <li>
					<a href="#">
					  Кровати
					</a>
				  </li>
				  <li>
					<a href="#">
					  Столы
					</a>
				  </li>
				  <li>
					<a href="#">
					  Шкафы
					</a>
				  </li>
				  <li>
					<a href="#">
					  Полки
					</a>
				  </li>
				  <li>
					<a href="#">
					  Тумбы
					</a>
				  </li>
				  <li>
					<a href="#">
					  Стулья
					</a>
				  </li>
				  <li>
					<a href="#">
					  Двухъярусные кровати
					</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>