<div class="right-content">
<div class="wrapper-content">
<nav class="check-nav">
  <ul>
	<li check-show="#more-advantages">
	  <span class="burger">
		<img src="images/header/burger.png">
	  </span>
	  <a>
		Преимущества
	  </a>
	</li>
	<li check-show="#more-catalog">
	  <span class="burger">
		<img src="images/header/burger.png">
	  </span>
	  <a>
		Каталог
	  </a>
	</li>
	<li>
	  <a>
		Акции
	  </a>
	</li>
  </ul>
</nav>
</div>
<div class="wrapper-content">
<span class="phone">
  <a href="tel:73812636690">
	+7 (3812) 63-66-90
  </a>
</span>
</div>
</div>