		<div class="right-content">

		  <div class="wrapper-content">
			<div class="write-message">
			  <div class="icon">
				<img src="images/header/pencil.png">
			  </div>
			  <div class="desc">
				<span class="value">
				  Напишите нам
				</span>
			  </div>
			</div>
		  </div>

		  <div class="wrapper-content">
			<div class="forms">
			  <div class="search">
				<input type="text">
				<div class="icon">
				  <img src="images/header/search.png">
				</div>
			  </div>
			</div>
		  </div>

		  <div class="wrapper-content">
			<div class="cart">
			  <div class="icon"></div>
			  <div class="desc">
				<span class="count">
				  Корзина пуста
				</span>
			  </div>
			  <div class="product">
				<div class="product-wrapper">
				  <div class="product-info">

					<div class="product-bg">
					  <div class="product-bg-wrapper">
						<img src="images/cart_product.jpg">
					  </div>
					</div>

					<div class="product-desc">
					  <div class="product-title">
						Кровать детская
					  </div>
					  <div class="product-id">
						Артикул: 49894
					  </div>
					  <div class="characteristics">
						<div class="characteristic">
						  Размер кровати: 2525225
						</div>
						<div class="characteristic">
						  Размер кровати: 2525225
						</div>
						<div class="characteristic">
						  Размер кровати: 2525225
						</div>
					  </div>
					</div>

				  </div>

				  <div class="product-price-sec">

					<div class="product-price">
					  <div class="price-wrapper">
						<div class="price-title">
						  Всего к оплате(р)
						</div>
						<div class="price-number">
						  90000р
						</div>
					  </div>
					</div>

					<div class="product-footer">
					  <a class="button-go-to-cart">
						Перейти в корзину
					  </a>
					</div>
					
				  </div>

				</div>
			  </div>
			</div>
		  </div>

		</div>