<div class="module_sec sec-cityes-top">
		<div class="module_container">
			<div class="module_wrapper">

				<div class="cityes">
					<div class="cityes-wrapper">

						<div class="cell-city radio-buttons">
							<div class="cityes-title">
								Выберите город
							</div>
							<div class="city-cell-sec">
							 @@include('city.html', {
									"city": "Москва"
							 })
							 @@include('city.html', {
									"city": "Санкт-петербург"
							 })
							 @@include('city.html', {
									"city": "Воронеж"
							 })
							 @@include('city.html', {
									"city": "Екатеринбург"
							 })  
							 @@include('city.html', {
									"city": "Краснодар"
							 })  
							 @@include('city.html', {
									"city": "Москва"
							 })
							 @@include('city.html', {
									"city": "Санкт-петербург"
							 })
							 @@include('city.html', {
									"city": "Воронеж"
							 })
							 @@include('city.html', {
									"city": "Екатеринбург"
							 })  
							 @@include('city.html', {
									"city": "Краснодар"
							 })  
							 @@include('city.html', {
									"city": "Москва"
							 })
							 @@include('city.html', {
									"city": "Санкт-петербург"
							 })
							 @@include('city.html', {
									"city": "Воронеж"
							 })
							 @@include('city.html', {
									"city": "Екатеринбург"
							 })  
							 @@include('city.html', {
									"city": "Краснодар"
							 })
							</div>
						</div>
						
						@@include('cell-search.html')
					</div>
				</div>

			</div>
		</div>
	</div>