<div class="item-card">
	<div class="left-colum">
		<div class="all-items-collection"><a class="items"><span>ВСЕ ТОВАРЫ КОЛЛЕКЦИИ</span></a></div>
		<div class="top-info">
			<div class="pagination">
				<a href="">Каталог</a> <span>></span> <a href="">Солнечный город</a>
			</div>
			<!-- мобильная версия -->
			<div class="pagination-m">
				<a href=""><span><</span>  <a href="">Назад</a>
			</div>
			<!-- мобильная версия -->
			<div class="name-item"><span>Кровать Next Classic</span></div>
			<div class="articule"><span>Артикул: S2K1700</span></div>
		</div>
		<div class="mobile color-edit">
			<div class="image-color">
				<img src="/images/item-card/item.png" alt="">
				<img class="edit-tool" src="/images/item-card/color.png" alt="">
			</div>
			<span>Выбор цвета</span><br>Нажмите на пульсирующию точку для выбора цвета
		</div>
		<div class="item-gallery">

			<div class="item-gallery-bg">
				<div class="wrapper-photo">
					<div class="bg">
						<img src="/images/item-card/shk.png" style="height: 300px;">
						<div class="edit-tool-sec">
							<img class="edit-tool" src="/images/item-card/color.png" alt="">
							<ul>
								<li>
									<span style="background-color: #000;"></span>
									<span>Черный</span>
								</li>
								<li>
									<span style="background-color: #FFD700;"></span>
									<span>Золотой</span>
								</li>
								<li>
									<span style="background-color: pink;"></span>
									<span>Розовый</span>
								</li>
								<li>
									<span style="background-color: green;"></span>
									<span>Зеленый</span>
								</li>
								<li>
									<span style="background-color: red;"></span>
									<span>Красный</span>
								</li>
								<li>
									<span style="background-color: blue;"></span>
									<span>Синий</span>
								</li>					
							</ul>
						</div>						
					</div>

				</div>
				<div class="action">
					<img>
				</div>
			</div>

			<div class="horizont-slider">
				<div class="section-slder">
					<div class="gallery-content">
						<div class="gallery-wrapper">

							<div class="gallery-bg">
								<div class="title">Настройка цвета</div>
								<img src="/images/item-card/item.png" alt="">
								<img class="edit-tool" src="/images/item-card/color.png" alt="">
							</div>

							<div class="gallery-slider">
								<div class="gallery-slider-title">Фото товара</div>
								<div class="gallery-slider-wrapper">
									<span class="route-left-v">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
									</span>
									<span class="route-right-v">
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>	

									<div class="gallery-items owl-carousel slider-1">
										<div class="gallery-item active">
											<img src="/images/item-card/item.png" alt="">
										</div>
										<div class="gallery-item">
											<img src="/images/item-card/item.png" alt="">
										</div>
										<div class="gallery-item">
											<img src="/images/item-card/item.png" alt="">
										</div>
									</div>	

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="right-colum desctop">
		<div class="top-info top-buttons">
			<button class="active" item=".all_section_sec">О Товаре</button>
			<button item=".materails_section">Материалы</button>
			<button item=".advantage-section">Преемущества</button>
			<button item=".photo_section">В интерьере</button>
		</div>
		<div class="all-info-sec">
			<div class="wrapper-info all_section_sec" style="display: none;">
				<div class="top-name">
					<div class="name-item"><span>Кровать Next Classic</span></div>
					<div class="articule"><span>Артикул: S2K1700</span></div>
				</div>
				<div class="top-price">
					<div class="price-item"><span>Цена (руб.)</span></div>
					<div class="sale-price"><span class="old-price">19 200</span><span>14 200</span></div>
				</div>
				<div class="all-sale">Экономия <span>7900</span></div>
				<div class="opisanie-item">
					<div class="info">
						<div class="properties">
							<div class="property">Габариты (ШxГxВ, мм):</div><div class="value">125х132х59см</div>
						</div>
						<div class="properties">
							<div class="property">Гарантия:</div><div class="value">18 месяцев</div>
						</div>
						<div class="properties">
							<div class="property">Коллекция:</div><div class="value"><a href="">Солнечный город</a></div>
						</div>
					</div>
				</div>

				<div class="sec-button">
					<div class="sec-write">
						<img src="/images/item-card/vector.png" alt="">
						<button class="btn-write"><span>3D-ПРОЕКТ</span></button>
					</div>
					<div class="sec-choice">
						<button class="btn-tov"><span>ВЫБРАТЬ ТОВАРЫ</span></button>
					</div>
					<div class="sec-write">
						<span>Беспатно! за 1 день<sup>*</sup> <img src="/images/item-card/ask.png" alt=""></span>
						<div class="ty mdl">
							<span>Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.</span>
							<span><button class="btn-tov"><span>ПЕРЕЙТИ</span></button></span> 
						</div>
					</div>
					<div class="sec-choice"><span><img src="/images/item-card/koshel.png" alt=""> Кредит 0-0-24!</span></div>
				</div>

				<div class="dop-info-tr">
					<div class="line-tr">
						<div class="download">
							<img src="/images/item-card/download.png" alt=""> <a href="">Скачать каталог<br> колекции</a>
						</div>
						<div class="ask-img">
						<img src="/images/item-card/ask.png" alt="">
						</div>
						<div class="one mdl ask-content">
							Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>	
					</div>
					<div class="line-tr">
						<div class="download">
							<span>Доставка</span>
						</div>
						<div class="ask-img">
						<img src="/images/item-card/ask.png" alt="">
						</div>
						<div class="two mdl ask-content">
							Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="line-tr">
						<div class="download">
							<span>Настройка и сборка в подарок</span>
						</div>
						<div class="ask-img">
						<img src="/images/item-card/ask.png" alt="">
						</div>
						<div class="thrid mdl ask-content">
							Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>	
					</div>
					<div class="line-tr">
						<div class="download">
							<span>Для 2-х детей</span>
						</div>
						<div class="ask-img">
						<img src="/images/item-card/ask.png" alt="">
						</div>
						<div class="four mdl ask-content">
							Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>	
					</div>
					<div class="line-tr-all">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе. Шкаф предназначен для хранения одежды и текстиля: в нем имеются три вместительных отсека для детских вещей, полки для головных уборов и обуви, отделение, в котором одежда хранится на вешалках. 

Мебель выдержана в цвете натуральной светлой древесины, украшена цветной вертикальной полосой, характерной для всей линейки Солнечный город.	
					<br><br>
					</div>
				</div>
			</div>
			<div class="wrapper-info advantage-section" style="display:none;">
				<div class="top-name">
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper-info materails_section">
				<div class="materials_desc">Коллекция выполнена из высококачественных современных материалов, экологически чистых и безопасных для здоровья человека</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
			</div>
			<div class="wrapper-info photo_section my-gallery" style="display:none;">
			    <figure  class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>			    			    			    
			</div>
			<div class="shadow"></div>
		</div>
	</div>	


	<div class="right-colum mobile">
		<div class="top-info">
			<button class="active">О Товаре</button>
		</div>
		<div class="all-info-sec">
			<div class="wrapper-info all_section_sec_mobile" style="display: none;">
				<div class="top-name">
					<div class="name-item"><span>Кровать Next Classic</span></div>
					<div class="articule"><span>Артикул: S2K1700</span></div>
				</div>
				<div class="top-price">
					<div class="price-item"><span>Цена (руб.)</span></div>
					<div class="sale-price"><span class="old-price">19 200</span><span>14 200</span></div>
				</div>
				<div class="all-sale">Экономия <span>7900</span></div>
				<div class="opisanie-item">
					<div class="info">
						<div class="properties">
							<div class="property">Габариты (ШxГxВ, мм):</div><div class="value">125х132х59см</div>
						</div>
						<div class="properties">
							<div class="property">Гарантия:</div><div class="value">18 месяцев</div>
						</div>
						<div class="properties">
							<div class="property">Коллекция:</div><div class="value"><a href="">Солнечный город</a></div>
						</div>
					</div>
				</div>
				<div class="sec-button">
					<div class="sec-choice">
						<button class="btn-tov"><span>КУПИТЬ</span></button>
					</div>
					<div class="sec-choice"><span><img src="/images/item-card/koshel.png" alt=""> Кредит 0-0-24!</span></div>
					<div class="sec-write">
						<button class="btn-write"><span>3D-ПРОЕКТ</span></button>
					</div>
					<div class="sec-write"><span>Беспатно! за 1 день<sup>*</sup> <img src="/images/item-card/ask.png" alt=""></span></div>
					<div class="sec-text">
						Хотите взглянуть на нашу мебель в стенах Вашей квартиры? Воспользуйтесь кнопкой <a href="">«3D-проект»</a> и мы подготовим визуализацию в течении одного дня.
					</div>
				</div>
				<div class="dop-info-tr">
					<div class="line-tr">
						<div class="download">
							<img src="/images/item-card/download.png" alt=""> <a href="">Скачать каталог<br> колекции</a>
						</div>
						<div class="ask-img">
							<img src="/images/item-card/ask.png" alt="">
						</div>	
					</div>
					<div class="line-tr">
						<div class="download">
							<span>Доставка</span>
						</div>
						<div class="ask-img">
							<img src="/images/item-card/ask.png" alt="">
						</div>
						<div class="one mdl">
							Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>	
					</div>
					<div class="line-tr">
						<div class="download">
							<span>Настройка и сборка в подарок</span>
						</div>
						<div class="ask-img">
							<img src="/images/item-card/ask.png" alt="">
						</div>
						<div class="two mdl">
							Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="line-tr">
						<div class="download">
							<span>Для 2-х детей</span>
						</div>
						<div class="ask-img">
						<img src="/images/item-card/ask.png" alt="">
						</div>
						<div class="thrid mdl">
							Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>	
					</div>
					<div class="line-tr-all">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе. Шкаф предназначен для хранения одежды и текстиля: в нем имеются три вместительных отсека для детских вещей, полки для головных уборов и обуви, отделение, в котором одежда хранится на вешалках. 

Мебель выдержана в цвете натуральной светлой древесины, украшена цветной вертикальной полосой, характерной для всей линейки Солнечный город.	
					</div>
				</div>
			</div>

			<div class="wrapper-info materails_section_mobile" style="display: none;">
				<div class="materials_desc">Коллекция выполнена из высококачественных современных материалов, экологически чистых и безопасных для здоровья человека</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
			</div>	

			<div class="wrapper-info advantage-section_mobile" style="display: none;">
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
			</div>
			
			<div class="wrapper-info photo_section_mobile my-gallery">
			    <figure  class="photip" itemprop="associatedMedia" itemscope itemtype="http;ewq\]4567eu://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure  class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure  class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure  class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png"" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>			    			    			    
			</div>

			<div class="shadow" style="width: 100%;"></div>
		</div>
		<div class="top-info top-button-mobile">
			<button class="active" item=".all_section_sec_mobile">О Товаре</button>
			<button item=".materails_section_mobile">Материалы</button>
			<button item=".advantage-section_mobile">Преемущества</button>
			<button item=".photo_section_mobile">В интерьере</button>
		</div>	
	</div>	

	<div class="left-colum">
		<div class="top-info">
			<div class="all-items"><span>Товары Колекции</span></div>
		</div>
		<div class="all-item-gallery">
			<div class="horizont-slider">
				<div class="section-slder">
					<div class="gallery-content">
						<div class="gallery-wrapper">

							<div class="gallery-items">
								<span class="route-left-v">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
									</span>
									<span class="route-right-v">
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>

								<div class="gallery-items-wrapper owl-carousel slider-2">
									
									<div class="gallery-item">
										<div class="price">881р</div>
										<img src="/images/item-card/polka.png" alt="">
										<div class="name-u"><span>Полка</span></div>
									</div>
									<div class="gallery-item">
										<div class="price">9000р</div>
										<img src="/images/item-card/krovat.png" alt="">
										<div class="name-u"><span>Двух ярусная кровать</span></div>
									</div>
									<div class="gallery-item">
										<div class="price">7000р</div>
										<img src="/images/item-card/stol.png" alt="">
										<div class="name-u"><span>Стол для установки на тумбу</span></div>
									</div>
									<div class="gallery-item">
										<div class="price">12500р</div>
										<img src="/images/item-card/shkaf.png" alt="">
										<div class="name-u"><span>Шкаф</span></div>
									</div>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zig mobile">
			<div class="all-itemscollection"><a class="items"><span>ВСЕ ТОВАРЫ КОЛЛЕКЦИИ</span></a></div>
		</div>
	</div>

	<div class="right-colum">
		<div class="top-info">
			<div class="all-items"><span>Другие Колекции</span></div>
		</div>
		<div class="all-item-gallery">
			<div class="horizont-slider">
				<div class="section-slder">
					<div class="gallery-content">
						<div class="gallery-wrapper">

							<div class="gallery-items">
								<span class="route-left-vv">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
								</span>
								<span class="route-right-vv">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>

								<div class="gallery-items-wrapper owl-carousel slider-3">
									<div class="gallery-item">
										<div class="price"></div>
										<img src="/images/item-card/eridan.png" alt="">
										<div class="name-t"><span>Коллекция Эридан</span></div>
									</div>
									<div class="gallery-item">
										<div class="price"></div>
										<img src="/images/item-card/snow.png" alt="">
										<div class="name-t"><span>Коллекция Белоснежка</span></div>
									</div>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
