<div class="etapi-pokupki">
		  <div class="cart-info">

			<div class="items-table">

			  <div class="etap-one">

				<div class="half-sec">
				  <div class="capa">
					<div class="figure-step"><i class="fa fa-plus" aria-hidden="true"></i></div>
					<div class="figure-caption"><div>Ваш заказ:<span>1 товар</span></div></div>
				  </div>
				</div>

				<div class="half-sec">
				  <div class="capad">
					<div class="figure-all">
					  <div>Посмотреть все товары<i class="fa fa-chevron-right" aria-hidden="true"></i></div>
					</div>
				  </div>
				</div>

			  </div>

			  <div class="etap-one">

				<div class="half-sec blue">
				  <div class="capas">
					<div class="figure-step">
					  <div>1</div>
					</div>
					<div class="figure-caption">
					  <div>Способ получения товаров</div>
					</div>
				  </div>
				</div>

				<div class="table-pokup">
				  <div class="all-section">

					<div class="left-section border-left">
					  <div class="in-magazine">
						<div class="sex-cell">
						  <span class="radio check-method"></span>
						</div>
						<div class="sex-cell">
						  <span class="sex-val">Забрать из магазина<img src="images/cart/basket.png"></span>
						</div>
					  </div>
					  <div class="magazine-location">г. Омск, МЦ Континетн, 2 этаж МЦ Континетн, 2 этаж</div>
					  <div class="magazine-location">
						<div class="button-2">Продолжить</div>
					  </div>
					</div>

					<div class="left-section right-section">
					  <div class="in-magazine">
						<div class="sex-cell">
						  <span class="radio check-method"></span>
						  <div class="sex-cell">
							<span class="sex-val">Забрать из магазина<img src="images/cart/delivery-truck.png"></span>
						  </div>
						</div>
					  </div>
					  <div class="magazine-location">
						<div class="input">
						  <div class="input-title"></div>Город<span class="compulsory">*</span>
						  <input type="text">
						</div>
						<div class="input">
						  <div class="input-title"></div>Улица<span class="compulsory">*</span>
						  <input type="text">
						</div>
						<div class="input half">
						  <div class="input-title"></div>Дом/корпус<span class="compulsory">*</span>
						  <input type="text">
						</div>
						<div class="input half right-align">
						  <div class="input-title"></div>Квартира<span class="compulsory">*</span>
						  <input type="text">
						</div>
					  </div>
					</div>

				  </div>
				</div>

			  </div>

			  <div class="etap-one">

				<div class="half-sec widthfull">
				  <div class="capas widthfull">
					<div class="figure-step succsesfull-num">
					  <div>
						<i class="fa fa-check" aria-hidden="true"></i>
					  </div>
					</div>
					<div class="figure-caption widthfull">
					  <div>Способ получения товара: забрать в магазин</div>
					</div>
				  </div>
				</div>

				<div class="table-pokup">
				  <div class="information">
					<div class="picture-inf">
					  <img src="images/cart/basket.png">
					</div>
					<div class="text-inf">
					  <div>г. Омск, МЦ Континетн, 2 этаж<br>МЦ Континетн, 2 этаж</div>
					</div>
					<div class="edit-inf">
					  <div class="button-2 but">Изменить</div>
					</div>
				  </div>
				</div>
				
			  </div>

			  <div class="etap-one">
				<div class="half-sec blue">
				  <div class="capas">
					<div class="figure-step">
					  <div>2</div>
					</div>
					<div class="figure-caption">
					  <div>Ввод личных данных</div>
					</div>
				  </div>
				</div>
				<div class="table-pokup">
				  <div class="all-section">
					<div class="left-section border-left width40">
					  <div class="magazine-location politica-konfedicialnosti">
						<div class="input">
						  <div class="input-title"></div>Е-Mail<span class="compulsory">*</span>
						  <input type="text">
						</div>
						<div class="input">
						  <div class="input-title"></div>Имя<span class="compulsory">*</span>
						  <input type="text">
						</div>
						<div class="input">
						  <div class="input-title"></div>Номер телефона<span class="compulsory">*</span>
						  <input type="text">
						  
						</div>
					  </div>
					</div>
					<div class="left-section padding-left width60">
					  <div class="podtverjdenie">
						<div>Пожалуйста, подтвердите Ваше согласие с условиями политики конфиденциальности «Involux kids».</div>
					  </div>
					  <div class="polit-blok">
						<div class="chek">
						  <div class="sex-cell politica">
							<span class="radio"></span>
						  </div>
						</div>
						<div class="text-chek">
						  <div>Настоящим подтверждаю, что я ознакомлен и согласен с <a href="">условиями политики конфиденциальности.</a></div>
						</div>
						<div class="magazine-location button-block">
						  <div class="button-2 but">Продолжить</div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="etap-one">
				<div class="half-sec widthfull">
				  <div class="capas">
					<div class="figure-step succsesfull-num">
					  <div>
						<i class="fa fa-check" aria-hidden="true"></i>
					  </div>
					</div>
					<div class="figure-caption">
					  <div>Ввод личных данных</div>
					</div>
				  </div>
				</div>
				<div class="table-pokup">
				  <div class="information">
					<div class="picture-inf">
					  <img src="images/cart/user.png">
					</div>
					<div class="text-inf">
					  <div>Имя: Ольга<br>Еmail: Olya@yandex.ru<br>Телефон: +7 982 900 90 90<br></div>
					</div>
					<div class="edit-inf">
					  <div class="button-2 but">Изменить</div>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="etap-one">
				<div class="half-sec blue">
				  <div class="capas">
					<div class="figure-step"><div>3</div></div>
					<div class="figure-caption">
					  <div>Ввод личных данных</div>
					</div>
				  </div>
				</div>
				<div class="table-pokup">
				  <div class="all-section padding10">
					<div class="one-section border-left padding5">
					  <div class="in-magazine">
						<div class="sex-cell">
						  <span class="radio"></span>
						</div>
						<div class="sex-cell">
						  <span class="sex-val">Оплата при получении<img src="images/cart/basket.png"></span>
						</div>
					  </div>
					  <div class="podtverjdenie variable-pokup">
						<div>Вы можете оплатить покупку в пункте самовывоза</div>
					  </div>
					  <div class="in-magazine text-center">
						<a href="">Правила и условия оплаты</a>
					  </div>
					</div>
					<div class="one-section border-left padding5">
					  <div class="in-magazine">
						<div class="sex-cell">
						  <span class="radio"></span>
						</div>
						<div class="sex-cell">
						  <span class="sex-val">Онлайн-оплата<img src="images/cart/basket.png"></span>
						</div>
					  </div>
					  <div class="podtverjdenie variable-pokup">
						<div>Вы можете оплатить картами Visa, MasterCard и Maestro</div>
					  </div>
					  <div class="in-magazine text-center">
						<a href="">Правила и условия оплаты</a>
					  </div>
					</div>
					<div class="one-section padding5">
					  <div class="in-magazine">
						<div class="sex-cell">
						  <span class="radio"></span>
						</div>
						<div class="sex-cell">
						  <span class="sex-val">Купить в кредит<img src="images/cart/basket.png"></span>
						</div>
					  </div>
					  <div class="podtverjdenie variable-pokup">
						<div>Вы можете оформить товар в рассрочку или кредит.</div>
					  </div>
					  <div class="in-magazine text-center">
						<a href="">Правила и условия оплаты</a>
					  </div>
					</div>
					<div class="magazine-location button-block">
					  <div class="button-2 but heihtline">Закончить оформление</div>
					</div>
				  </div>
				</div>
			  </div>

			</div>


			<div class="right-information right-sucsessful">
			  
			  <div class="counts-items">
				<div class="in-cart-items text-aling-left">Товары</div>
				<div class="in-cart-items text-aling-right">3 шт</div>
			  </div>

			  <div class="counts-items">
				<div class="in-cart-items text-aling-left">Забрать в магазине</div>
				<div class="in-cart-items text-aling-right">Бесплатно</div>
			  </div>

			  <div class="price-buy">
				<div class="price">
				  <div>Всего (р.)</div>
				</div>
				<div class="price">
				  <div class="all-price-number">
					<span>870 957</span>
				  </div>
				</div>
			  </div>

			</div>
		  </div>
		</div>