<div class="zakaz-successful">
	<div class="data-buy">Заказ создан: 15.11.2017</div>
	<div class="buy-title">
		<div class="zakaz-name">
			<span class="name">Заказ №211</span>
			<span class="old">[Новый]</span>
		</div>
		<div class="zakaz-post-status"><span>Бланк заказа отправлен на Ваш e-mail</span></div>
		<div class="zakaz-variable-viev">
			<div class="button-2">Распечатать</div>
			<div class="button-2">Сохранить в PDF</div>
		</div>

		<div class="cart-info">
			<div class="items-table zakaz-page-left">

			<div class="item-cart-product">
				<div class="item-cart-product-wrapper">
				<div class="left-item-info">
					<div class="picture-cell">
					<img src="/images/lk/product_modal.jpg">
					</div>
					<div class="info-items">
					<div class="items-name left-text">Шкаф угловой</div>
					<div class="items-information">
						<div class="item-colection left-text">Коллекция "Солнечный город"<br>Артикул: 51712</div>
						<div class="item-col right-text" style="display:none;">
							<div class="calc">
								<div class="calc-wrapper">
									<span class="button-minus">-</span>
									<input value="1">
									<span class="button-plus">+</span>
								</div>
							</div>
						</div>
						<div class="item-col right-text">1 шт.</div>
					</div>
					</div>
				</div>
				<div class="right-cell">
				  <div class="price">25878 руб.</div>
				</div>
				</div>
			</div>

			<div class="item-cart-product">
				<div class="item-cart-product-wrapper">
				<div class="left-item-info">
					<div class="picture-cell">
					<img src="/images/lk/product_modal.jpg">
					</div>
					<div class="info-items">
					<div class="items-name left-text">Шкаф угловой</div>
					<div class="items-information">
						<div class="item-colection left-text">Коллекция "Солнечный город"<br>Артикул: 51712</div>
						<div class="item-col right-text" style="display:none;">
							<div class="calc">
								<div class="calc-wrapper">
									<span class="button-minus">-</span>
									<input value="1">
									<span class="button-plus">+</span>
								</div>
							</div>
						</div>
						<div class="item-col right-text">1 шт.</div>
					</div>
					</div>
				</div>
				<div class="right-cell">
				  <div class="price">25878 руб.</div>
				</div>
				</div>
			</div>

			<div class="item-cart-product">
				<div class="item-cart-product-wrapper">
				<div class="left-item-info">
					<div class="picture-cell">
					<img src="/images/lk/product_modal.jpg">
					</div>
					<div class="info-items">
					<div class="items-name left-text">Шкаф угловой</div>
					<div class="items-information">
						<div class="item-colection left-text">Коллекция "Солнечный город"<br>Артикул: 51712</div>
						<div class="item-col right-text" style="display:none;">
							<div class="calc">
								<div class="calc-wrapper">
									<span class="button-minus">-</span>
									<input value="1">
									<span class="button-plus">+</span>
								</div>
							</div>
						</div>
						<div class="item-col right-text">1 шт.</div>
					</div>
					</div>
				</div>
				<div class="right-cell">
				  <div class="price">25878 руб.</div>
				</div>
				</div>
			</div>

			<div class="item-cart-product">
				<div class="item-cart-product-wrapper">
				<div class="left-item-info">
					<div class="picture-cell">
					<img src="/images/lk/product_modal.jpg">
					</div>
					<div class="info-items">
					<div class="items-name left-text">Шкаф угловой</div>
					<div class="items-information">
						<div class="item-colection left-text">Коллекция "Солнечный город"<br>Артикул: 51712</div>
						<div class="item-col right-text" style="display:none;">
							<div class="calc">
								<div class="calc-wrapper">
									<span class="button-minus">-</span>
									<input value="1">
									<span class="button-plus">+</span>
								</div>
							</div>
						</div>
						<div class="item-col right-text">1 шт.</div>
					</div>
					</div>
				</div>
				<div class="right-cell">
				  <div class="price">25878 руб.</div>
				</div>
				</div>
			</div>

			</div>

			<div class="right-information right-sucsessful">
			<div class="counts-items">
				<div class="in-cart-items text-aling-left">Всего:</div>
				<div class="in-cart-items text-aling-right">30 000 руб.</div>
			</div>
			<div class="counts-items">
				<div class="in-cart-items text-aling-left">Стоимость доставки:</div>
				<div class="in-cart-items text-aling-right">0 руб.</div>
			</div>
			<div class="details-zakazov">
				<div class="in-cart-items text-aling-left">Детали заказов:</div>
				<div class="in-cart-items text-aling-right"></div>
			</div>
			<div class="details-zakazov">
				<div class="in-cart-items text-aling-left">Способ доставки:</div>
				<div class="in-cart-items text-aling-right">Доставка курьером</div>
			</div>
			<div class="details-zakazov">
				<div class="in-cart-items text-aling-left">Клиент:</div>
				<div class="in-cart-items text-aling-right">Иван Круглов</div>
			</div>
			<div class="details-zakazov">
				<div class="in-cart-items text-aling-left">Телефон:</div>
				<div class="in-cart-items text-aling-right">+ 7 999 399 99 99</div>
			</div>
			<div class="details-zakazov">
				<div class="in-cart-items text-aling-left">Е-Mail:</div>
				<div class="in-cart-items text-aling-right"><redlimit>@mail.ru</redlimit></div>
			</div>
			<div class="details-zakazov">
				<div class="in-cart-items text-aling-left">Адрес магазина/либо доставки:</div>
				<div class="in-cart-items text-aling-right">Омск, 70 лет Октября 25/3 99</div>
			</div>
			</div>
			<div class="items-table sposob-oplati">Способ оплаты:<span>Наличные</span><br>
			Для редактирования заказа необходимо перейти в лиичный кабинет. <a href="#">Перейти</a>
			</div>
			<div class="right-information status-oplati">
			<div class="price-buy">
				<div class="price"><div>Статус: Не оплачено</div></div>
				<div class="price">
					<div class="button-2 no-right">Оплатить картой</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>