<div class="item-card">
	<div class="left-colum">
		<div class="top-info">
			<div class="pagination">
				<a href="">Каталог</a> <span>></span> <a href="">Солнечный город</a>
			</div>
			<!-- мобильная версия -->
			<div class="pagination-m">
				<a href=""><span><</span>  <a href="">Назад</a>
			</div>
			<!-- мобильная версия -->
			<div class="name-item"><span>Солнечный город</span></div>
			<div class="articule"><span>Артикул: S2K1700</span></div>
		</div>
		<div class="item-gallery">

			<div class="item-gallery-bg">
				<div class="wrapper-photo">
					<img src="/images/card-collection/main.jpg">
				</div>
				<div class="action">
					<img>
				</div>
			</div>

			<div class="horizont-slider">
				<div class="section-slder">
					<div class="gallery-content">
						<div class="gallery-wrapper">

							<div class="gallery-slider">
								<div class="gallery-slider-title">Выбор цвета</div>
								<div class="gallery-slider-wrapper">

									<div class="gallery-items">
										<div class="gallery-item">
											<img src="/images/card-collection/bereza.png" alt="">
											<div class="gallery-name-color">Береза Снежная</div>
										</div>
										<div class="gallery-item">
											<img src="/images/card-collection/cherry.png" alt="">
											<div class="gallery-name-color">Вишня Марбелла</div>
										</div>
										<div class="gallery-item">
											<img src="/images/card-collection/vanil.png" alt="">
											<div class="gallery-name-color">Ваниль</div>
										</div>
										<div class="gallery-item">
											<img src="/images/card-collection/abrikos.png" alt="">
											<div class="gallery-name-color">Абрикос</div>
										</div>
										<div class="gallery-item">
											<img src="/images/card-collection/avokado.png" alt="">
											<div class="gallery-name-color">Авокадо</div>
										</div>
									</div>	

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="right-colum desctop">
		<div class="top-info top-buttons">
			<button class="active" item=".all_section_sec">О Товаре</button>
			<button item=".materails_section">Материалы</button>
			<button item=".advantage-section">Преемущества</button>
			<button item=".photo_section">В интерьере</button>
		</div>

		<div class="all-info-sec">
			<div class="wrapper-info all_section_sec">
				<div class="top-name">
					<div class="name-item"><span>Солнечный город</span></div>
					<div class="articule"><span>Артикул: S2K1700</span></div>
				</div>
				<div class="top-price">
					<div class="price-item"><span>Цена (руб.)</span></div>
					<div class="sale-price"><span class="old-price">19 200</span><span>14 200</span></div>
				</div>
				<div class="all-sale">Экономия <span>7900</span></div>	
				<div class="all-sales">
					<span>Что входит в стоимость</span>
					<div class="mu mdl">
						<span>Кровать</span> <span>5000(руб.)</span>
						<span>Стол</span> <span>5000(руб.)</span>
						<span>Шкаф</span> <span>5000(руб.)</span>
						<button class="btn-tov"><span>ВЫБРАТЬ ТОВАРЫ >></span></button>
					</div>
				</div>	
				<div class="sec-button">
					<div class="sec-write">
						<img src="/images/item-card/vector.png" alt="">
						<button class="btn-write"><span>3D-ПРОЕКТ</span></button>
					</div>
					<div class="sec-choice">
						<button class="btn-tov"><span>ВЫБРАТЬ ТОВАРЫ</span></button>
					</div>
					<div class="sec-write">
						<span>Беспатно! за 1 день<sup>*</sup> <img src="/images/item-card/ask.png" alt="">
						<br><p>Добавить фото</p></span>
						<div class="ty mdl">
							<span>Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.</span>
							<span><button class="btn-tov"><span>ПЕРЕЙТИ</span></button></span> 
						</div>
					</div>
					<div class="sec-choice"><span><img src="/images/item-card/koshel.png" alt=""> Кредит 0-0-24!</span></div>
				</div>
				<div class="sec-button">
					<div class="sec-write">
						<span class="zero-padding"><img src="/images/card-collection/plus.png" alt=""> если двухярусный кровать</span>
						<div class="re mdl">
							<span>Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.</span>
							<span><button class="btn-tov"><span>ПЕРЕЙТИ</span></button></span> 
						</div>
					</div>
					<div class="sec-choice">
						<span class="zero-padding"><img src="/images/card-collection/plus.png" alt=""> есть стол для 2-ух детей</span>
						<div class="agreement mdl">
							<span>Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.</span>
							<span><button class="btn-tov"><span>ПЕРЕЙТИ</span></button></span> 
						</div>
					</div>
				</div>
				<div class="dop-info-tr">
					<div class="line-tr">
						<div class="download">
							<img src="/images/item-card/download.png" alt=""> <a href="">Скачать каталог<br> колекции</a>
						</div>
						<div class="download">
						<img src="/images/item-card/download.png" alt=""> <a href="">Памятка по подбору<br> матрасов</a>
						</div>	
					</div>
					<div class="line-tr-all">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
					это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе. Шкаф предназначен для хранения одежды и текстиля: в нем имеются три вместительных отсека для детских вещей, полки для головных уборов и обуви, отделение, в котором одежда хранится на вешалках. 

					Мебель выдержана в цвете натуральной светлой древесины, украшена цветной вертикальной полосой, характерной для всей линейки Солнечный город.
					<br><br>	
					</div>
				</div>
			</div>

			<div class="wrapper-info advantage-section" style="display:none;">
				<div class="top-name">
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper-info materails_section">
				<div class="materials_desc">Коллекция выполнена из высококачественных современных материалов, экологически чистых и безопасных для здоровья человека</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
			</div>
			<div class="wrapper-info photo_section my-gallery" style="display:none;">
			    <figure  class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>			    			    			    
			</div>

			<div class="shadow"></div>
		</div>

	</div>	


	<div class="right-colum mobile">
		<div class="top-info">
			<button class="active">О Коллекции</button>
		</div>
		<div class="all-info-sec">

			<div class="wrapper-info all_section_sec">
				<div class="top-name">
					<div class="name-item"><span>Солнечный город</span></div>
					<div class="articule"><span>Артикул: S2K1700</span></div>
				</div>
				<div class="top-price">
					<div class="price-item"><span>Цена (руб.)</span></div>
					<div class="sale-price"><span class="old-price">19 200</span><span>14 200</span></div>
				</div>
				<div class="all-sale">Экономия <span>7900</span></div>
				<div class="sec-button">
					<div class="sec-choice">
						<button class="btn-tov"><span>КУПИТЬ</span></button>
					</div>
					<div class="sec-choice"><span><img src="/images/item-card/koshel.png" alt=""> Кредит 0-0-24!</span></div>
					<div class="sec-write">
						<button class="btn-write"><span>3D-ПРОЕКТ</span></button>
					</div>
					<div class="sec-write">
						<span>Беспатно! за 1 день<sup>*</sup> <img src="/images/item-card/ask.png" alt=""></span>
					</div>
					<div class="sec-text">
						Хотите взглянуть на нашу мебель в стенах Вашей квартиры? Воспользуйтесь кнопкой <a href="">«3D-проект»</a> и мы подготовим визуализацию в течении одного дня.
					</div>
				</div>
				<div class="sec-button">
					<div class="sec-write">
						<span><img src="/images/card-collection/plus.png" alt=""> если двухярусный кровать</span>
						<div class="re mdl">
							<span>Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.</span>
							<span><button class="btn-tov"><span>ПЕРЕЙТИ</span></button></span> 
						</div>
					</div>
					<div class="sec-choice">
						<span><img src="/images/card-collection/plus.png" alt=""> есть стол для 2-ух детей</span>
						<div class="de mdl">
							<span>Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.</span>
							<span><button class="btn-tov"><span>ПЕРЕЙТИ</span></button></span> 
						</div>
					</div>
				</div>
				<div class="dop-info-tr">
					<div class="line-tr">
						<div class="download">
							<img src="/images/item-card/download.png" alt=""> <a href="">Скачать каталог<br> колекции</a>
						</div>
						<div class="download">
						<img src="/images/item-card/download.png" alt=""> <a href="">Памятка по подбору<br> матрасов</a>
						</div>	
					</div>
					<div class="line-tr-all">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе. Шкаф предназначен для хранения одежды и текстиля: в нем имеются три вместительных отсека для детских вещей, полки для головных уборов и обуви, отделение, в котором одежда хранится на вешалках. 

						Мебель выдержана в цвете натуральной светлой древесины, украшена цветной вертикальной полосой, характерной для всей линейки Солнечный город.	
					</div>
				</div>
			</div>


			<div class="wrapper-info advantage-section" style="display:none;">
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
					<div class="advantage-information">
						<div class="wrapper-info-advantage"><img src="/images/item-card/bed.png" alt=""></div>
						<div class="wrapper-info-advantage-txt">
							Стиль коллекции Солнечный город лаконичен и доходчив — 
							это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
						</div>
					</div>
			</div>
			<div class="wrapper-info materails_section">
				<div class="materials_desc">Коллекция выполнена из высококачественных современных материалов, экологически чистых и безопасных для здоровья человека</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
				<div class="advantage-information">
					<div class="wrapper-info-advantage"><span>Эксклюзивная кромочная лента</span></div>
					<div class="wrapper-info-advantage-txt">
						Стиль коллекции Солнечный город лаконичен и доходчив — 
						это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт и безопасность, в равной степени воплотив эти качества в четырёх-дверном шкафе.
					</div>
				</div>
			</div>
			<div class="wrapper-info photo_section my-gallery" style="display:none;">
			    <figure  class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>
			    <figure class="photip" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			        <a href="/images/item-card/eridan.png" itemprop="contentUrl" data-size="600x400">
			            <img src="/images/item-card/eridan.png" itemprop="thumbnail" alt="Image description" />
			        </a>
			    </figure>			    			    			    
			</div>

			<div class="shadow"></div>
		</div>
		<div class="top-info top-button-mobile">
			<button class="active" item=".all_section_sec">О Товаре</button>
			<button item=".materails_section">Материалы</button>
			<button item=".advantage-section">Преемущества</button>
			<button item=".photo_section">В интерьере</button>
		</div>	
	</div>	

	<div class="left-colum">
		<div class="top-info">
			<div class="all-items"><span>Другие коллекции</span></div>
		</div>
		<div class="all-item-gallery">
			<div class="horizont-slider">
				<div class="section-slder">
					<div class="gallery-content">
						<div class="gallery-wrapper">

							<div class="gallery-items">

								<span class="route-left-vv">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
								</span>
								<span class="route-right-vv">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
								<div class="gallery-items-wrapper">
									<div class="gallery-item-col">
										<img src="/images/item-card/eridan.png" alt="">
										<div class="store">
											<div class="title">Эридан</div>
											<div class="txt">Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт.</div>
										</div>
									</div>
									<div class="gallery-item-col">
										<img src="/images/item-card/snow.png" alt="">
										<div class="store">
											<div class="title">Белоснежка</div>
											<div class="txt">Стиль коллекции Солнечный город лаконичен и доходчив — это стиль деткой мебели, простой и удобной. Создатели сделали упор на комфорт.</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zig mobile">
			<div class="all-itemscollection"><a class="items"><span>ВСЕ ТОВАРЫ КОЛЛЕКЦИИ</span></a></div>
		</div>
	</div>

	<div class="right-colum">
		<div class="top-info">
			<div class="all-items"><span>Товары Колекции</span></div>
		</div>
		<div class="all-item-gallery">
			<div class="horizont-slider">
				<div class="section-slder">
					<div class="gallery-content">
						<div class="gallery-wrapper">

							<div class="gallery-items">
								<span class="route-left-v">
										<i class="fa fa-angle-left" aria-hidden="true"></i>
								</span>
								<span class="route-right-v">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>

								<div class="gallery-items-wrapper owl-carousel slider-1">
									
									<div class="gallery-item">
										<img src="/images/item-card/polka.png" alt="">
										<div class="name-t"><span>Полка</span></div>
										<div class="price">881р</div>
									</div>
									<div class="gallery-item">
										<img src="/images/item-card/krovat.png" alt="">
										<div class="name-t"><span>Двух ярусная кровать</span></div>
										<div class="price">9000р</div>
									</div>
									<div class="gallery-item">
										<img src="/images/item-card/stol.png" alt="">
										<div class="name-t"><span>Стол для установки на тумбу</span></div>
										<div class="price">7000р</div>
									</div>
								</div>
							</div>
									
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-window-shadow">
		<div class="modal-window">
			<div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="chat-text">Отправьте изображение и мы свяжемся с Вами в ближайшее время!</div>
			<div class="input-sec">
				<div class="input-name">Введите Ваше имя</div>
				<input type="" name="">
			</div>
			<div class="input-sec">
				<div class="input-name">Введите Ваш номер</div>
				<input type="" name="">
			</div>
			<div class="input-sec">
				<div class="input-name">Загрузить изображение</div>
				<input type="" name="">
				<div class="button-img"><span>Загрузить</span></div>
			</div>
			<div class="max-enter-img">максимальный размер загружаемого изображения - 5мб</div>
		</div>
	</div>
</div>

<div class="modal sec-upload" self="modal">
  <div class="modal-wrapper" self="modal">
    <div class="modal-contents">
      <div class="close-modal">
        <img src="images/header/close.png">
      </div>

      <form class="container-form-reg theme-2"s>
        <div class="form-title">
          3д проект
        </div>
        <div class="form-content">
          <div class="left-cell">
            <div class="input fix-top">
              <div class="input-title">
                Введите Ваше имя
                <span class="compulsory">
                </span>
              </div>
              <input type="text">
            </div>
            <div class="input">
              <div class="input-title">
                Введите Ваш номер
                <span class="compulsory">
                  *
                </span>
              </div>
              <input type="text" placeholder="+7(___)___-__-__">         
            </div>
 		        <div class="button-2">
		          Загрузить проект
		        </div>             
          </div>
        </div>
        <div class="politica">
          <span class="check-politica">
            <i class="fa fa-check" aria-hidden="true"></i>
          </span>
          <div class="desc">
            Настоящим подтверждаю, что я ознакомлен и согласен с
            <a href="">
              условиями политики конфиденциальности.
            </a>
          </div>
        </div>
        <div class="button-2">
          Отправить
        </div>
        <div class="right-social"></div>
      </form>


    </div>
  </div>
</div>