<div class="cart-begin">

<div class="return-clear-block">
	<div class="return">
		<div class="button-return">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</div>
		<div class="text-return">
			<span>
				Вернутся к покупкам
			</span>
		</div>
	</div>

	<div class="clear-all">
		<div class="clear-all-wrapper">
			<div class="cart-clear">
				<img src="images/cart/trash.png">
			</div>
			<div class="text-clear">
				<span>
					Очистить все
				</span>
			</div>
		</div>
	</div>

 </div>

	<div class="step-stage">
		<div class="step-pointer">

			<div class="step-begin">
				<div class="figure-step active">
					<img src="images/cart/three_point.png">
				</div>
				<div class="step-text">
					<span>
						Ваша корзина
					</span>
				</div>
			</div>

			<div class="point-step-up"></div>
			<div class="step-begin">
				<div class="figure-step">
					<img src="images/cart/truck.png">
				</div>
				<div class="step-text">
					<span>
						Детали получения
					</span>
				</div>
			</div>

			<div class="point-step-up"></div>
			<div class="step-begin">
				<div class="figure-step">
					<img src="images/cart/finger_up.png">
				</div>
				<div class="step-text">
					<span>
						Покупка совершена
					</span>
				</div>
			</div>

		</div>
	</div>

</div>