<div class="cart-info">
 
	<div class="items-table">
		@@include('item-product.html')
	</div>


	<div class="right-information right-sucsessful">

	<div class="counts-items">
	  <div class="in-cart-items text-aling-left">Товары (3)</div>
	  <div class="in-cart-items text-aling-right">шт. 3</div>
	</div>

	<div class="price-buy">
	  <div class="price">
		<div class="pokupt">Всего (р.)<span>870 957</span>
		</div>
	  </div>

	  <div class="price">
		<div class="button-2">Оформить заказ</div>
	  </div>

	</div>
  </div>

</div>