<div class="item-cart-product">
	<div class="item-cart-product-wrapper">
		<div class="left-item-info">

			<div class="picture-cell"><img src="images/lk/product_modal.jpg"></div>

			<div class="info-items">
				<div class="items-name left-text">Шкаф угловой</div>

				<div class="items-information">
					<div class="item-colection left-text">Коллекция "Солнечный город"<br>Артикул: 51712</div>
					<div class="item-col right-text">
						<div class="calc">
							<div class="calc-wrapper">
								<span class="button-minus">-</span>
								<input type="text" value="1">
								<span class="button-plus">+</span>
							</div>
						</div>
					</div>
					<div class="item-col right-text" style="display:none;">1 шт.</div>
				</div>
				
			</div>

		</div>

		<div class="right-cell">
			<div class="price">25878 руб.</div>
		</div>

	</div>
</div>