@@include('header.html', {
	"title": "Защита прав потребителей Тюмень. Юрист",
	"desc": "Защита прав потребителей в Тюмени. Профессиональные юристы в соответствии с законом о защите прав потребителей проведут бесплтаную консультацию, окажут помощь",
	"h1": "Юрист Тюмень. Защита прав потребителей",
	"css": [
		"template"
	]
})	

@@include('site/modules/header/module.html')
<div class="modules">
	@@include('site/modules/sec-bunner/module.html')
	@@include('site/modules/sec-collection/module.html')
	@@include('site/modules/mebels/module.html')
	@@include('site/modules/sec-shop/module.html')
	@@include('site/modules/sec-projects-clients/module.html')
	@@include('site/modules/sec-mebel-groups/module.html')
	@@include('site/modules/sec-footer/module.html')
</div>
<footer>
</footer>


@@include('footer.html', {
	"js": [
		"template"
	]
})
